@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc; /* Slate-50 */
  --foreground: #0f172a; /* Slate-900 */
  --touch-target-size: 44px; /* Minimum touch target size */
  --safe-bottom: env(safe-area-inset-bottom, 0);
  --safe-top: env(safe-area-inset-top, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a; /* Slate-900 */
    --foreground: #f1f5f9; /* Slate-100 */
  }
}

/* Base Styles with Mobile First Approach */
html {
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
  font-size: 16px; /* Base font size */
}

/* Set minimum touch target size */
@layer base {
  button, a, [role="button"], input, label, select, textarea {
    @apply min-h-[var(--touch-target-size)] min-w-[var(--touch-target-size)] leading-none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* Add safe area padding for notches and home indicators */
  padding-bottom: var(--safe-bottom);
  padding-top: var(--safe-top);
}

/* Improved form elements for mobile */
input,
textarea,
select,
button {
  @apply text-base leading-normal;
  /* Make form elements easier to tap */
  font-size: 16px !important; /* Prevent zoom on iOS */
}

/* Animation Styles */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}

.animate-fade-in-delayed {
  animation: fadeIn 1s ease-out 0.5s forwards;
  opacity: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.hover\:pause:hover {
  animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce) {
  .animate-fade-in,
  .animate-fade-in-delayed {
    animation: none;
    opacity: 1;
    transform: translateY(0);
  }
  
  .animate-scroll {
    animation: none;
  }
}

/* Utility Classes */
@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 1px 2px rgb(0 0 0 / 0.1);
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r;
  }
  
  .safe-bottom {
    padding-bottom: var(--safe-bottom);
  }
  
  .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
  }
  
  /* Prevent scroll chaining */
  .overscroll-none {
    overscroll-behavior: none;
  }
  
  /* Mobile optimized focus states */
  .focus-visible-ring {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2;
  }
}

.section-transition {
  @apply transition-all duration-500 ease-out;
}

[data-animate="fade-up"] {
  @apply opacity-0 translate-y-8 transition-all duration-700;
}

[data-animate="fade-up"].in-view {
  @apply opacity-100 translate-y-0;
}

/* Mobile optimizations */
@media (max-width: 640px) {
  html {
    -webkit-overflow-scrolling: touch;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}