
.instagram {
    display: flex;
    justify-content: center;

}

.container {
    margin: 5px;
    width: 70vw;
    display: flex;
    color: #000000;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.container > div {

}

.insta {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    transition: transform 0.2s !important;
    margin: 10px !important;
  }
  
  .insta:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3)  !important;
    transform: scale(1.045) !important;
  }
  @media only screen and (max-width: 1290px) {
    .container {
        width: 90vw;
    }

}

  @media only screen and (max-width: 768px) {
    .container {
        width: 95vw;
    }

}